.main {
  padding-top: 60px;
  width: 500px;
  margin: auto;
  color: #353740;
}

.main section {
  width: 100%;
}

.main h1 {
  font-size: 32px;
  line-height: 40px;
  align-self: flex-start;
}

.main form {
  display: flex;
  flex-direction: column;
}

.main label {
  font-weight: bold;
  padding-bottom: 2px;
}

.main textarea {
  font-size: 16px;
  padding: 0.25em 0.5em;
  border: 1px solid rgb(151, 149, 149);
  border-radius: 4px;
  height: 10em;
}
.main textarea:focus {
  border-color: rgb(134, 133, 133);
}

.main form select {
  margin-top: 4px;
  padding: 8px 4px;
  border-radius: 4px;
  font-size: 14px;
}

.main button {
  margin-top: 4px;
  padding: 12px 24px;
  color: #fff;
  background-color: #243ecf;
  border: none;
  border-radius: 4px;
  text-align: center;
  align-self: flex-end;
  cursor: pointer;
}

.main .card {
  background-color: rgb(236, 234, 234);
  border: none;
  border-radius: 4px;
  padding: 0.25em 0.75em;
  margin-top: 10px;
}

.main .card div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main .card div h4 {
  width: 15%;
  float: left;
  margin: 10px auto 0 0;
}

.main .card div p {
  width: 75%;
  margin: 10px auto 10px 0;
  font-weight: 600;
}